body {
    background-color: rgb(195, 192, 192);
}
.astrus {
    background-color: rgb(29, 87, 173);
}

.logo {
    margin-top: -4.5em;
    float: right;
    margin-right: 5px;
    width: 5%;
}

.headline {
    margin: 0%;
    margin-top: -1.5em !important;
    height: 3em;
    width: 100%;
}

.Pname {
    float: right;
    color: blue;
    margin-right: 10em;
    padding-top: 1.5em;
    width: 10px;
}

.Init {
    padding-top: 9em;
    margin-top: 1em;
    height: 500px;
    width: 100%;
    background-image: url("./background1.jpg");
}
img {
    margin-top: 1em;
    width: 100%;
}
 .teste {
    background-color: rgb(29, 87, 173);
    width: 4em;
    margin-left: 40%;
    height: 35px;
 }

 h2 {
    margin-left: 39%;
 }

 #main-menu {
    border: 2px solid rgb(65, 64, 64);
    display: block;
    height: 80px;
    width: 100%;
    background: #b7b5b9;
    margin: 0px;
  }
  
  #main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
  }
  
  #main-menu a {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline;
  }


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
    display: none;
  }

  #hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #c9c5cd;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}


#hamburger-menu a {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  #hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #99979b, #99979b 20%, 
      white 20%, white 40%, 
      #7f7c82 40%, #99979b 60%, 
      white 60%, white 80%, 
      #545355 80%, #99979b 100%
    );
}

.balao {
    font-size: 20px;
    padding: 1em;
}
.balao2 {
    font-size: 20px;
    margin-top: 1em;
    color: white;
}
.balao3 {
    margin-top: 1em;
    font-size: 20px;
}
.balao4{
  font-size: 20px;
    margin-top: 1em;
    color: white;
}
.logo2 {
    width: 10%;
    margin-left: 40%;
}
.serviços{
  margin-top: -2.3em;
  margin-left: 1em;
  font-size: 1.5rem;
}
.clientes {
  font-size: 1.2rem;
  color: #000000;
}
.clientes:hover {
  background-color: #545355;
  color: #c9c5cd;
}
.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  margin-top: -2em;
  display: none;
  position: absolute;
  background-color: #b7b5b9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.titulo {
  width: 100%;
  background-color:  rgb(29, 87, 173);
}
.ti {
  margin-left: 40%;
}

.rodape{
  margin: -8px;
  height: 7em;
  display: flex;
  background-color: #545355;
 margin-top: 50%;
 float: inline-end;
}
.terms{
  margin-left: 3em;
  margin-top: 1em;
  font-size: 1.2em;
  color: #c9c5cd;
  padding: 0;
}
.pp {
  margin-left: 3em;
  margin-top: 1em;
  font-size: 1.2em;
  color: #c9c5cd;
}
.ua {
  margin-left: 3em;
  margin-top: 1em;
  font-size: 1.2em;
  color: #c9c5cd;

}
.spp {
  margin-left: 3em;
  margin-top: 1em;
  font-size: 1.2em;
  color: #c9c5cd;
  
}
.iLogo{
  margin-top: 2em;
  margin-left: 3em;  
  width: 3em;
}
.all{
  margin-left: 20%;
  padding: 1em;
}
.final{
  color: #99979b;
}

.balao4 {
  -webkit-box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
.balao3{
  -webkit-box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
.balao2{
  -webkit-box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
.balao{
  -webkit-box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
.lgn{
  margin-left: 3em;
}


.form-popup {
  margin-left: 3em;
  float: left;
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #000000;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .clientes:hover {
  opacity: 1;
}


  @media screen and (max-width: 750px) {
   
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }

    h2 {
        margin-left: 30%;
    }
    .logo {
        float: right;
        width: 5%;
    }
    .rodape {
      margin-top: 150%;
    }
    .iLogo{
      margin-left: 1em;
      width: 2em;
    }
    .terms{
      font-size: 11px;
    }
    .pp{
      font-size: 11px;
    }
    .ua{
      font-size: 11px;
    }
    .spp{
      font-size: 11px;
    }
    .final{
      font-size: 9px;
    }
    .n4{
      font-size: 15px;
    }
    .balao4{
      margin-right: -90px;
      margin-top: 10em;
    }
    .n3{
      font-size: 15px;
    }
    .balao3{
      margin-top: 8em;
      margin-left: -90px;
    }
    .n2{
      font-size: 15px;
    }
    .balao2{
      margin-top: 8em;
      margin-right: -90px;
    }
    .n1{
      font-size: 15px;
    }
    .balao{
      margin-left: -90px;
    }
    .ti{
      margin-left: 30%;
    }
    .dropdown{
      display: none;
    }
  }